html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
#con {
	position: relative;
	width: 100%;
	height: 100%;
	position: absolute;
}
canvas {
	display: block;
}
#score {
	position: absolute;
	z-index: 1;
	top: 1%;
	left: 100%;
	transform: translateX(-120%);
	border-radius: 3px;
	padding: 20px;
	white-space: nowrap;
	background-color: rgba(60, 60, 60, 0.5);
	color: #CCCCCC;
	font-size: 2em;
	font-family: sans-serif;
	text-align: center;
}
.status-icon {
	position: absolute;
	z-index: 1;
	width: 70px;
	height: 70px;
	margin-left: 20px;
	text-align: center;
	-webkit-filter	: opacity(0.2);
	-moz-filter	: opacity(0.2);
	-ms-filter	: opacity(0.2);
	-o-filter 	: opacity(0.2);
	filter		: opacity(0.2);
}
.status-icon.active {
	-webkit-filter	: opacity(1);
	-moz-filter	: opacity(1);
	-ms-filter	: opacity(1);
	-o-filter 	: opacity(1);
	filter		: opacity(1);
}
.status-icon img {
	height: 80%;
}
.fuel-indicator {
	position: absolute;
	width: 100%;
	height: 10%;
	background-color: black;
}
#time-icon {
	margin-top: 10px;
}
p {
	margin: 0;
}
.menu {
	border-radius: 3px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80%;
	height: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(60, 60, 60, 0.3);
	display: none;
	text-align: center;
}
#start {
	height: auto;
	padding: 40px 0 50px 0;
	color: #CCCCCC;
	font-family: Calibri, sans-serif;
	font-weight: 100;
}
#pause {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	color: white;
}
#start h1 {
	margin: 0;
	font-size: 3em;
	font-weight: 100;
}
#start table {
	margin: 20px auto;
	font-size: 1.2em;
}
#start table td {
	padding: 5px;
}
#start table .em {
	font-size: 1.2em;
	padding-bottom: 13px;
}
#start img {
	vertical-align: middle;
	height: 40px;
}
#start p.flash {
	font-size: 3em;
}
#pause p {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 4em;
	font-family: Calibri, sans-serif;
}
.menu p {
	font-weight: 100;
	font-family: Calibri, sans-serif;
	text-align: center;
	color: #DDDDDD;
	font-size: 2em;
}
p.flash {				
	animation-duration: 0.9s;
	animation-name: flash;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
.menu.center p {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 3em;
	transform: translate(-50%, -50%);
}
button {
	position: relative;
	top: 71%;
	padding: 10px;
	background-color: transparent;
	border-radius: 1px;
	font-size: 1.2em;
	border: 1px solid black;
	color: white;
	transition: 0.15s all;
}
button:hover {
	cursor: pointer;
	background-color: rgba(40, 40, 40, 0.5);
	color: #CCCCCC;
	border-color: white;
}
button:active {
	outline: none;
}
@keyframes flash {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.fb-like {
	position: relative;
	top: 100%;
	transform: translate(0%, -300%);
	text-align: center;
}